# 依赖目录
node_modules
**/node_modules

# Git 相关
.git
.gitignore

# 忽略所有 dist
dist
# 除了前端构建产物
!apps/web-antd/dist

dist.zip
.turbo
out
build
.cache

# 日志文件
npm-debug.log
pnpm-debug.log
yarn-error.log

# 系统文件
.DS_Store
Thumbs.db

# 文档
*.md
